* {
    margin: 0;
    padding: 0;
    background-color: #F5F5FA;
}

body {
    font-family: sans-serif;
}

/*---------nav bar section---------*/
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    padding: 0 !important;
}

.navbar-toggler {
    outline: none !important;
}

#logo{
    margin: 10px;
    border: 4px solid black;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 30%;
    border-top-right-radius:30%;
    transition: all 0.3s ease;
}

#logo:hover {
    color: #fff;
    background-color: #7878AB;
    border-color: #7878AB;
}

.fa-bars {
    color: #7878AB;
    font-size: 30px !important;
    padding: 10px;
}

.offcanvas-body li {
    padding: 10px;
}

.offcanvas-body li a {
    color: #000 !important;
    font-weight: 500;
}

.navunderline {
    list-style: none; 
    padding: 0; 
  }
  
  .navunderline .nav-item {
    display: inline-block; 
    margin-right: 10px; 
  }
  
  .navunderline .nav-link {
    position: relative;
    text-decoration: none; 
    color: #7878AB; 
  }
  
  .navunderline .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #7878AB; 
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
  }
  
  .navunderline .nav-link:hover::after {
    transform: scaleX(1); 
    transform-origin: bottom left;
  }  

.btn-resume {
    color: #000;
    font-weight: 500;
    background-color: transparent;
    border-color: #000;
}

.btn-resume:hover {
    color: #fff;
    background-color: #7878AB;
    border-color: #7878AB;
}

/*---------home section---------*/
#home {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: 100vh;
}

.container{
    padding:100px;
}

.container h1 {
    font-weight: 600;
    color: #7878AB;
    font-size: calc(4rem + 1.5vw);
}

.container h2 {
    font-weight: 600;
    font-size: calc(3.375rem + .9vw);
}

.btn-email {
    width: 150px;
    padding: 10px;
    color: #000;
    font-weight: 500;
    background-color: transparent;
    border-color: #000;
}

.btn-email:hover {
    color: #fff;
    background-color: #7878AB;
    border-color: #7878AB;
}

.bottom-img {
    width: 100%;
}